@import url('./normalize.css');

html{
    font-size: 10px;
}
body{
    font-family: 'Rosario';
}
.section{
    height:1080px;
}
li{
    list-style: none;
}
/*Шапка*/
header{
    background: #000000;
    height: 12.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.style-card{
    background: white;
    height: 13.2rem;
    width: 25.3rem;
    transition: all 400ms;
}
.style-card:hover{
    opacity: 0.50;
}
.navigation{
    width: 75%;
}
.navigation ul{
    display: flex;
}
.lists{
    width: 100%;
    margin-left: 4%;
}
.lists a{
    text-decoration: none;
    font-weight: 700;
    font-size: 3.6rem;
    font-style: italic;
    color: #FFFCFC;
    transition: all 400ms;
}
.lists a:hover{
    opacity: 0.50;
}
/*Шапка*/
/*Основа*/
.box{
    margin-top: 7.1rem;
    margin-bottom: 6.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 img{
    width: 30rem;
    height: 45rem;
}

.box2{
    margin-right: 4.5%;
    margin-left: 4%;
}
.box2-1{
    display: flex;
}
.box2-1 img{
    width: 35rem;
    height: 30rem;
}
.box2-2{
    margin-top: 2%;
    margin-right: 2%;
}
.card-for-animation1{
    position: relative;
    transition: all 1s;
    animation: animationName1 1s linear 1;
}
.card-for-animation-hover:hover{
    cursor: zoom-in;
    transform: scale(1.1) translate(-10%, -10%);
}
.card-for-animation-hover2:hover{
    cursor: zoom-in;
    transform: scale(1.1) translate(10%, -10%);
}
.card-for-animation2{
    position: relative;
    transition: all 1s;
    animation: animationName2 1s linear 1;
}
.card-for-animation-hover3:hover{
    cursor: zoom-in;
    transform: scale(1.1) translate(-10%, 10%);
}
.card-for-animation-hover4:hover{
    cursor: zoom-in;
    transform: scale(1.1) translate(10%, 10%);
}
.card-for-animation3{
    position: relative;
    transition: all 1s;
    animation: animationName4 2s linear 1;
}
.card-for-animation-hover6:hover{
    transform: scale(1.1);
    cursor: zoom-in;
}
.card-for-animation4{
    position: relative;
    transition: all 1s;
    animation: animationName3 2s linear 1;
}
.card-for-animation-hover5:hover{
    transform: scale(1.1);
    cursor: zoom-in;
}
/*Основа*/
/*Анимация*/
@keyframes animationName1{
    from, 
    to{
        top: 0;
        right: 0;
    }

    20%{
        right: 100%;
        opacity: 0;
    }
}
@keyframes animationName2{
    from, 
    to{
        top: 0;
        left: 0;
        opacity: 1;
    }

    20%{
        left:100%;
        opacity: 0;
    }
}
@keyframes animationName3{
    from, 
    to{
        top: 0;
        right: 0;
        opacity: 1;
    }

    20%{
        right:100%;
        opacity: 0;
    }
}
@keyframes animationName4{
    from, 
    to{
        top: 0;
        left: 0;
        opacity: 1;
    }

    20%{
        left:100%;
        opacity: 0;
    }
}
/*Анимация*/
@media screen and (max-width:1550px){
    .box1 img{
        width: 26rem;
        height: 43rem;
    }
    .box2-1 img{
        width: 30rem;
        height: 25rem;
    }
}
@media screen and (max-width:1335px){
    .box1 img{
        width: 23rem;
        height: 33rem;
    }
    .box2-1 img{
        width: 25rem;
        height: 20rem;
    }
}
@media screen and (max-width:1317px){
    .lists{
        width: 80%;
        margin-left: 3%;
    }
}
@media screen and (max-width:1239px){
    .lists{
        width: 60%;
        margin-left: 2%;
    }
}
@media screen and (max-width:1206px){
    .lists{
        margin-left: 2%;
    }
    .lists a{
        font-size: 3.1rem;
    }
    header{
        height: 10.9rem;
    }
    .style-card{
        height: 11.2rem;
        width: 21.3rem;
    }

}
@media screen and (max-width:1090px){
    .box1 img{
        width: 16rem;
        height: 26rem;
    }
    .box2-1 img{
        width: 20rem;
        height: 15rem;
    }
}
@media screen and (max-width:1162px){
    .lists a{
        font-size: 2.8rem;
    }
    header{
        height: 8.9rem;
    }
    .style-card{
        height: 9.2rem;
        width: 17.3rem;
    }

}
@media screen and (max-width:970px){
    header{
        height: 6.9rem;
    }
    .lists a{
        font-size: 2.5rem;
    }
    .style-card{
        height: 7.2rem;
        width: 13.3rem;
    }
}
@media screen and (max-width:860px){
    header{
        height: 4.9rem;
    }
    .lists a{
        font-size: 2rem;
    }
    .style-card{
        height: 5.2rem;
        width: 9.3rem;
    }
}
@media screen and (max-width:821px){
    .box1 img{
        width: 10rem;
        height: 16rem;
    }
    .box2-1 img{
        width: 15rem;
        height: 10rem;
    }
}
@media screen and (max-width:725px){
    header{
        height: 2.9rem;
    }
    .lists a{
        font-size: 1.5rem;
    }
    .style-card{
        height: 3.2rem;
        width: 5.3rem;
    }
}
@media screen and (max-width:568px){
    .box1 img{
        width: 6rem;
        height: 8rem;
    }
    .box2-1 img{
        width: 8rem;
        height: 5rem;
    }
}





