@import url('./normalize.css');

html{
    font-size: 10px;
}
body{
    font-family: 'Rosario';
}
.section{
    height: 1080px;
}
li{
    list-style: none;
}
/*Шапка*/
header{
    background: #000000;
    height: 12.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.style-card{
    background: white;
    height: 13.2rem;
    width: 25.3rem;
    transition: all 400ms;
}
.style-card:hover{
    opacity: 0.50;
}
.navigation{
    width: 70%;
}
.navigation ul{
    display: flex;
}
.lists{
    width: 100%;
    margin-left: 4%;
}
.lists a{
    text-decoration: none;
    font-weight: 700;
    font-size: 3.6rem;
    font-style: italic;
    color: #FFFCFC;
    transition: all 400ms;
}
.lists a:hover{
    opacity: 0.50;
}
/*Шапка*/
/*Основа*/
.text{
    text-align: center;
    font-size: 9.6rem;
    font-weight: 700;
    margin-top: 2.3rem;
}
.box1{
    width: 100%;
    font-family: 'Volkhov';
    display: flex;
    justify-content: space-around;
}
.box1-2{
    height: 65rem;
    background-image: url('../../img/png/Rectangle\ 8.png');
    background-repeat: no-repeat;
    width: 37.4rem;
    position: relative;
}
.box1-3{
    height: 65rem;
    background-image: url('../../img/png/Rectangle\ 12.png');
    background-repeat: no-repeat;
    width: 37.2rem;
    position: relative;
}
.box1-4{
    height: 65rem;
    background-image: url('../../img/png/Rectangle\ 13.png');
    background-repeat: no-repeat;
    width: 38rem;
    position: relative;
}
.box1-5{
    height: 65rem;
    background-image: url('../../img/png/Rectangle\ 9.png');
    background-repeat: no-repeat;
    width: 37.6rem;
    position: relative;
}
.image-position{
    margin: 0% 1%;
    border-radius: 4rem;
    opacity: 0.80;
    cursor: pointer;
    transition: all 1s;
}
.image-position div{
    position: relative;
    background: #A3530A;
    height: 15.6rem;
    width: 100%;
    opacity: 0.80;
    border-radius: 0rem 0rem 4rem 4rem;
    opacity: 0;
    top: 68.5%;
    transition: all 1s;
}
.image-position:hover{
    opacity: 1;
}
.image-position div p{
    text-align: center;
    padding-top: 5rem;
    color: #FFFAFA;
    font-weight: 400;
    font-size: 4.8rem;
    opacity: 0;
}
.image-position:hover div{
    opacity: 0.70;
}
.image-position:hover p{
    opacity: 1;
}
/*Основа*/
@media screen and (max-width:1400px){
    .lists{
        width: 80%;
        margin-left: 3%;
    }
    
}
@media screen and (max-width:1264px){
    .lists{
        width: 70%;
        margin-left: 2%;
    }
}
@media screen and (max-width:1206px){
    .lists{
        margin-left: 2%;
    }
    .lists a{
        font-size: 3.1rem;
    }
    header{
        height: 10.9rem;
    }
    .style-card{
        height: 11.2rem;
        width: 21.3rem;
    }
    .text{
        font-size: 9.1rem;
    }
    .box1{
        flex-wrap: wrap;
    }
    .image-position{
        margin-top: 2.6rem;
    }

}
@media screen and (max-width:1160px){
    .lists a{
        font-size: 2.8rem;
    }
    header{
        height: 8.9rem;
    }
    .style-card{
        height: 9.2rem;
        width: 17.3rem;
    }

}
@media screen and (max-width:1110px){
    .lists a{
        font-size: 2.8rem;
    }
    header{
        height: 8.9rem;
    }
    .style-card{
        height: 9.2rem;
        width: 17.3rem;
    }
    .image-position div{
        top: 76%;
    }
    .image-position div{
        top: 68.5%;
    }

}
@media screen and (max-width:970px){
    header{
        height: 6.9rem;
    }
    .lists a{
        font-size: 2.5rem;
    }
    .style-card{
        height: 7.2rem;
        width: 13.3rem;
    }
    .text{
        font-size: 8.6rem;
    }
}
@media screen and (max-width:860px){
    header{
        height: 4.9rem;
    }
    .lists a{
        font-size: 2rem;
    }
    .style-card{
        height: 5.2rem;
        width: 9.3rem;
    }
    .text{
        font-size: 8.1rem;
    }
}
@media screen and (max-width:725px){
    header{
        height: 2.9rem;
    }
    .lists a{
        font-size: 1.5rem;
    }
    .style-card{
        height: 3.2rem;
        width: 5.3rem;
    }
    .text{
        font-size: 7.6rem;
    }
    .image-position div{
        top: 68.6%;
    }
}





