@import url('../../css/normalize.css');

html{
    font-size: 10px;
}
body{
    font-family: 'Rosario';
}
.section{
    height: 1080px;
}
li{
    list-style: none;
}
/*Шапка*/
header{
    background: #000000;
    height: 12.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.style-card{
    background: white;
    height: 13.2rem;
    width: 25.3rem;
    transition: all 400ms;
}
.style-card:hover{
    opacity: 0.50;
}
.navigation{
    width: 70%;
}
.navigation ul{
    display: flex;
}
.lists{
    width: 100%;
    margin-left: 4%;
}
.lists a{
    text-decoration: none;
    font-weight: 700;
    font-size: 3.6rem;
    font-style: italic;
    color: #FFFCFC;
    transition: all 400ms;
}
.lists a:hover{
    opacity: 0.50;
}
/*Шапка*/
/*Основа*/
.box{
    margin: 0 auto;
    width: 80%;
    height: 59rem;
    display: flex;
    justify-content: center;
}
.box1-2{
    height: 57rem;
}
.box1-2 p{
    font-family: 'Rosario';
    font-size: 6.4rem;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}
table{
    background: #E5E5E5;
    font-family: 'Rosario';
    width: 66rem;
}
.input-size{
    width: 30.2rem;
    font-weight: 700;
    font-size: 3.6rem;
    color: #00000080;
    margin: 1rem 1rem;
    border: none;
}
textarea{
    resize: none;
    border: none;
    font-weight: 700;
    font-size: 3.6rem;
    color: #00000080;
    margin: 1rem 1rem;
    overflow: auto;
}
.box1-2 iframe{
    margin-top: 7.2rem;
}
.box2{
    font-family: 'Rosario';
    height: 18.7rem;
    margin: 0 auto;
    width: 85%;
    margin-top: 9.5rem;
    display: flex;
    justify-content: space-around;
}
.box2 p{
    text-align: center;
}
.box2-1{
    margin-left: 2%;
    margin-right: 2%;
}
.box2-1 a{
    text-decoration: none;
    transition: all 400ms;
    color: #000000;
}
.box2-1 a:hover{
    color:  #A3530AB2;
    opacity: 0.80;
}
.box2-1 p{
    color: #000000;
    font-size: 3.0rem;
    font-weight: 700;
    margin-top: -2rem;
}
.image1{
    height: 6.6rem;
    background-image: url('../../img/svg/pngwing\ 1.svg');
    background-repeat: no-repeat;
    background-size: 3rem;
}
.image2{
    height: 6.6rem;
    background-image: url('../../img/svg/pngwing\ 2.svg');
    background-repeat: no-repeat;
    background-size: 3.6rem;
}
.image3{
    height: 6.6rem;
    background-image: url('../../img/svg/pngwing\ 3.svg');
    background-repeat: no-repeat;
    background-size: 3.6rem;
}
.box2-2 p{
    position: relative;
    text-align: left;
    transition: all 400ms;
    left: 30%;
}
.box2-2 p:hover{
    color:  #A3530AB2;
    opacity: 0.80;
}
/*Основа*/
@media screen and (max-width:1400px){
    .lists{
        width: 80%;
        margin-left: 3%;
    }
    
}
@media screen and (max-width:1289px){
    .box{
        flex-wrap: wrap;
    }
    table{
        margin: 0 auto;
    }
    .box2{
        margin-top: 50%;
    }
    
}
@media screen and (max-width:1264px){
    .lists{
        width: 70%;
        margin-left: 2%;
    }
}
@media screen and (max-width:1206px){
    .lists{
        margin-left: 2%;
    }
    .lists a{
        font-size: 3.1rem;
    }
    header{
        height: 10.9rem;
    }
    .style-card{
        height: 11.2rem;
        width: 21.3rem;
    }

}
@media screen and (max-width:1200px){
    .box2{
        flex-wrap: wrap;
        margin-top: 55%;
    }
    .box2-1{
        margin-top: 10%;
    }

}
@media screen and (max-width:1160px){
    .lists a{
        font-size: 2.8rem;
    }
    header{
        height: 8.9rem;
    }
    .style-card{
        height: 9.2rem;
        width: 17.3rem;
    }

}
@media screen and (max-width:1110px){
    .lists a{
        font-size: 2.8rem;
    }
    header{
        height: 8.9rem;
    }
    .style-card{
        height: 9.2rem;
        width: 17.3rem;
    }
}
@media screen and (max-width:970px){
    header{
        height: 6.9rem;
    }
    .lists a{
        font-size: 2.5rem;
    }
    .style-card{
        height: 7.2rem;
        width: 13.3rem;
    }
    .box2{
        margin-top: 63%;
    }
    .box1-2 p{
        font-size: 5.4rem;
    }
}
@media screen and (max-width:870px){
    .box2{
        margin-top: 70%;
    }
}
@media screen and (max-width:860px){
    header{
        height: 4.9rem;
    }
    .lists a{
        font-size: 2rem;
    }
    .style-card{
        height: 5.2rem;
        width: 9.3rem;
    }
}
@media screen and (max-width:790px){
    .box2{
        margin-top: 75%;
    }
    .box1-2 p{
        font-size: 4.4rem;
    }
    
}
@media screen and (max-width:725px){
    header{
        height: 2.9rem;
    }
    .lists a{
        font-size: 1.5rem;
    }
    .style-card{
        height: 3.2rem;
        width: 5.3rem;
    }
    .box2{
        margin-top: 80%;
    }
    table{
        width: 55rem;
    }
    .input-size{
        font-size: 3rem;
        margin: .5rem .5rem;
        width: 25.5rem;
    }
    textarea{
        font-size: 3rem;
    }
    iframe{
        width: 50.0rem;
        height: 41.0rem;
    }
    
}





